### THIS FILE IS CONTROLLED BY ANSIBLE ###
### BEST NOT TO EDIT DIRECTLY          ###

# Configuration file for /sbin/dhclient, which is included in Debian's
#       dhcp3-client package.


option rfc3442-classless-static-routes code 121 = array of unsigned integer 8;
send host-name = gethostname();
supersede domain-name-servers {{ dns_servers | join(", ") }};
request subnet-mask, broadcast-address, time-offset, routers,
        host-name, interface-mtu, rfc3442-classless-static-routes, ntp-servers;

