### THIS FILE CONTROLLED BY ANSIBLE ###
### BEST NOT TO EDIT DIRECTLY       ###

# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

auto eth0
allow-hotplug eth0
iface eth0 inet static
    address 192.168.5.1
    netmask 255.255.255.0
    network 192.168.5.0

auto {{ external_interface }}
allow-hotplug wlan0
iface {{ external_interface }} inet dhcp
    wpa-ssid "{{ wpa_ssid }}"
    wpa-psk "{{ wpa_psk }}"

auto wlan1
allow-hotplug wlan1
iface wlan1 inet static
    address 192.168.6.2
    netmask 255.255.255.0

# BeagleBone Black Ethernet/RNDIS gadget (g_ether)
# ... or on host side, usbnet and random hwaddr
# Note on some boards, usb0 is automaticly setup with an init script
iface usb0 inet static
    address 192.168.7.2
    netmask 255.255.255.0
    network 192.168.7.0
    gateway 192.168.7.1
