body {
  font-family:Arial,Helvettica,sans-serif;
  color:#000000;
  background-color:#fffff9;
  text-align: center;
}

div#core {  
  display: block;
  margin: 0 auto;
  clear: both;  
  margin-bottom: 20px;  
  width: 470px;
  max-width: 80%;
  text-align: center;
} 

fieldset { 
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px solid #575c7d;
  text-align: left;
}

.text-input {
  min-width: 220px;
}

legend {
  font-size: 90%;
}

nav {
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}
nav ul {
  list-style: none;
  font-size: 14px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  display: block;
  float: left;
  padding: 3px 6px;
  color: #575c7d;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  background:#aba6a6;
  color: #000000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 0;
  text-decoration: none;
}

