/* page core */

body {
  font-family:Arial,Helvettica,sans-serif;
  color:#aba6a6;
  background-color:#000000;
}

div#core {  
  display: block;  
  clear: both;  
  margin-bottom: 20px;  
} 

div#core label{
/*
    display: inline-block;
    float: left;
    clear: left;
    width: 120px;
    text-align: left;
*/
}

input {
/*  display: inline-block;
  float: left;
*/
}

fieldset { 
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px solid #575c7d;
}

legend {
  font-size: 90%;
}

nav {
  display: block;
  margin-bottom: 10px;
}
nav ul {
  list-style: none;
  font-size: 14px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  display: block;
  float: left;
  padding: 3px 6px;
  color: #575c7d;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  background: #deff90;
  color: #485e0f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 0;
  text-decoration: none;
}

